clients:
  - id: "mvc"
    name: "MvcApplication2"
    allowed_grant_types:
      - "implicit"
    redirect_uris:
      - "http://localhost:5002/signin-oidc"
    post_logout_redirect_uris:
      - "http://localhost:5002/signout-callback-oidc"
    allowed_scopes:
      - "openid"
      - "profile"

  - id: "ConsoleApplication1"
    name: "ConsoleApplication1"
    allowed_grant_types: 
      - "client_credentials"
    secrets:
      - "K7gNU3sdo+OL0wNhqoVWhr3g6s1xYv72ol/pe/Unols="
    allowed_scopes:
      - "WebApi1"

resources:
  - name: "WebApi1"
    description: "A simple ASP.NET Core API"
    secrets:
      - "asecretvalue"
      - "anothersecretvalue"
    scopes:
      - name: "Administration"
        description: "Access to the administration interface"
      - name: "Finance"
        description: "Access to the finance data"
    
  - name: "WebApi2"
    description: "A simple ASP.NET Core API"
    secrets:
      - "asecretvalue"
      - "anothersecretvalue"
    scopes:
      - name: "Regulatory"
        description: "Access to the regulatory data"
  
  - name: "WebApi3"
    description: "A simple ASP.NET Core API"
    secrets:
      - "asecretvalue"
      - "anothersecretvalue"
    scopes:
      - name: "Webapi3_scope"
        description: "Access to the regulatory data"
        
